/* Listado de los colores a utilizar */
:root {
    /* Colores de fondo y texto */
    --main-bg-color: #effbff;
    --link-color: #009df8;
    --card-header-main-color: #dcddcd;
    --card-header-warning-color: #ffd673;
    --card-body-warning-color: #fae364;
    --card-header-info-color: #6cdaff;
    --card-body-info-color: #a6e5fa;

    /* Colores de mensajes al usuario */
    --primary-color: #00bfff;
    --primary-border-color: #0096db;
    --success-color: #96db80;
    --success-border-color: #82be5a;
    --danger-color: #ff748d;
    --danger-border-color: #e0637a;
}

/* Utilizados para el correcto funcionamiento de la estructura de la página */
html {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

nav>a>img {
    max-width: 150px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body>div {
    height: 100%;
    flex-grow: 1;
}

.contenedorPrincipal {
    min-width: 600px;
}

.centrarVertical {
    align-items: center;
}

.ocultar {
    display: none;
}

/* Modificación de colores */
a {
    color: var(--link-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-border-color);
}

.btn-success {
    background-color: var(--success-color);
    border-color: var(--success-border-color);
}

.btn-danger {
    background-color: var(--danger-color);
    border-color: var(--danger-border-color);
}

html,
body>div {
    background-color: var(--main-bg-color);
}

.card-header-main {
    background-color: var(--card-header-main-color);
}

.card-header-warning {
    background-color: var(--card-header-warning-color);
}

.card-body-warning {
    background-color: var(--card-body-warning-color);
}

.card-header-info {
    background-color: var(--card-header-info-color);
}

.card-body-info {
    background-color: var(--card-body-info-color);
}