/* Litado de los colores a utilizar */
:root {
    /* Colores de fondo y texto */
    --main-bg-color: #effbff;
    --link-color: #009df8;
    --card-header-color: #cdd9dd;

    --color-1: #343a40;

    /* Colores de mensajes al usuario */
    --primary-color: #00bfff;
    --primary-border-color: #0096db;
    --success-color: #96db80;
    --success-border-color: #82be5a;
    --danger-color: #ff748d;
    --danger-border-color: #e0637a;
}

/* Utilizados para el correcto funcionamiento de la estructura de la página */
html {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

nav > a > img {
    max-width: 100px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    /*min-width: 1100px;*/
}

body>div {
    height: 100%;
    flex-grow: 1;
}

/* Modificación de colores */
a {
    color: var(--link-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-border-color);
}

.btn-success {
    background-color: var(--success-color);
    border-color: var(--success-border-color);
}

.btn-danger {
    background-color: var(--danger-color);
    border-color: var(--danger-border-color);
}

html, body>div {
    background-color: var(--main-bg-color);
}

.card-header {
    background-color: var(--card-header-color);
}